*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(10, 5, 94);
}
body{
    background: url('https://t3.ftcdn.net/jpg/02/86/18/20/360_F_286182066_yY72dajL2Vv9pYZ0LWiDiYZrMEStz0Fo.jpg') ;
    
    background-position: top center;
    background-size: cover;
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background:transparent;
    border:2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 20px 20px 40px black;
    color:bisque;
    border-radius: 10px;
    
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 22px;
    color: rgb(116, 26, 5);
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 30px;
    margin: 30px 0;
}
button{
    display: block;
    background-color: rgb(75, 2, 60);
    color: bisque;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}
